* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 0, 0.952),
    rgb(255, 68, 0)
  );
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 3rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

font button {
  color: orangered;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  color: white;
  background: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

#tarefas {
  width: 100vh;
  height: auto;
}
.tarefa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  color: black;
  background-color: white;
}

.botao1 {
  padding: 2rem;
  font-size: 2rem;
  border: none;
  background-color: rgba(0, 128, 0, 0.904);
}

.botao2 {
  padding: 2rem;
  font-size: 2rem;
  border: none;
  background-color: rgba(255, 0, 0, 0.904);
}
